* {
-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        box-sizing: border-box;
}
*:before,
*:after {
-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        box-sizing: border-box;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height:100%;
}
body {
    margin: 0;
    height:100%;background-color:#f2f2f2;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
    color: #25c6d0;
}
a:active,
a:hover {
    outline: 0;
}
ul,
ol {
margin-top: 0;
margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
margin-bottom: 0;
}
.list-unstyled {
padding-left: 0;
list-style: none;
}
.list-inline {
padding-left: 0;
margin-left: -5px;
list-style: none;
}
.list-inline > li {
display: inline-block;
padding-right: 5px;
padding-left: 5px;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
h1 {
    margin: .67em 0;
    font-size: 2em;
}
mark {
    color: #000;
    background: #ff0;
}
small {
    font-size: 80%;
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sup {
    top: -.5em;
}
sub {
    bottom: -.25em;
}
img {
    border: 0 none;outline:none;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
pre {
    overflow: auto;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input {
    line-height: normal;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    color: #333;
    outline: none;
    border: 1px solid #ccc;
    box-shadow: none;
    display: block;
    font-size: 14px;
    line-height: 14px;
    padding: 5px 8px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    margin-bottom: 13px;
    font-weight: 100;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    color: #333;
    border-color: #bbb;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

select{display: inherit;line-height: 31px;height: 31px;}

input:-moz-placeholder,
textarea:-moz-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #999;
    opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #999;
    opacity: 1;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #999;
    opacity: 1;
}
fieldset {
    position:relative;
    display:flex;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
legend {
    padding: 0;
    border: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
td,
th {
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #777;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
    font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
    font-size: 75%;
}
h1,
.h1 {
    font-size: 36px;
}
h2,
.h2 {
    font-size: 30px;
}
h3,
.h3 {
    font-size: 24px;
}
h4,
.h4 {
    font-size: 18px;
}
h5,
.h5 {
    font-size: 14px;
}
h6,
.h6 {
    font-size: 12px;
}

body, p, label, span {margin:0;padding:0;font-family:Arial,sans-serif;font-size:12px;color:#333;}

p {
    margin: 0 0 10px;
}
.lead {
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.4;
}.clear{clear:both;}




@media (min-width: 768px){
    .lead {
        /* font-size: 21px; */
    }
}

.table {
width: 100%;
max-width: 100%;
margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
padding: 8px;
line-height: 1.42857143;
vertical-align: top;
border-top: 1px solid #ddd;
}
.table > thead > tr > th {
vertical-align: bottom;
text-align: left;
border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
border-top: 0;
}
.table > tbody + tbody {
border-top: 2px solid #ddd;
}
.table .table {
background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
padding: 5px;
}
.table-bordered {
border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
background-color: #f5f5f5;
}
table col[class*="col-"] {
position: static;
display: table-column;
float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
position: static;
display: table-cell;
float: none;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
background-color: #ebcccc;
}
.table-responsive {
min-height: .01%;
overflow-x: auto;
}
.welcome {
width: 100%;
height: 143px;
padding: 28px 0 0 155px;
background: url('/teacher/images/welcome.png') no-repeat 0 0;
}
.welcome h1 {
font-size: 14px;
line-height: 14px;
font-weight: bold;
margin-bottom: 8px;
margin-top: 0px;
}
.well {
min-height: 20px;
padding: 19px;
margin-bottom: 20px;
background-color: #f5f5f5;
border: 1px solid #e3e3e3;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.well blockquote {
border-color: #ddd;
border-color: rgba(0, 0, 0, .15);
}
.well-lg {
padding: 24px;
border-radius: 6px;
}
.well-sm {
padding: 9px;
border-radius: 3px;
}
.input-group {
position: relative;
display: table;
border-collapse: separate;
}
.input-group[class*="col-"] {
float: none;
padding-left: 0;
padding-right: 0;
}
.input-group .form-control {
position: relative;
z-index: 2;
float: left;
width: 100%;
margin-bottom: 0;
}
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
height: 46px;
padding: 10px 16px;
font-size: 18px;
line-height: 1.3333333;
border-radius: 6px;
}
select.input-group-lg > .form-control,
select.input-group-lg > .input-group-addon,
select.input-group-lg > .input-group-btn > .btn {
height: 46px;
line-height: 46px;
}
textarea.input-group-lg > .form-control,
textarea.input-group-lg > .input-group-addon,
textarea.input-group-lg > .input-group-btn > .btn,
select[multiple].input-group-lg > .form-control,
select[multiple].input-group-lg > .input-group-addon,
select[multiple].input-group-lg > .input-group-btn > .btn {
height: auto;
}
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
height: 30px;
padding: 5px 10px;
font-size: 12px;
line-height: 1.5;
border-radius: 3px;
}
select.input-group-sm > .form-control,
select.input-group-sm > .input-group-addon,
select.input-group-sm > .input-group-btn > .btn {
height: 30px;
line-height: 30px;
}
textarea.input-group-sm > .form-control,
textarea.input-group-sm > .input-group-addon,
textarea.input-group-sm > .input-group-btn > .btn,
select[multiple].input-group-sm > .form-control,
select[multiple].input-group-sm > .input-group-addon,
select[multiple].input-group-sm > .input-group-btn > .btn {
height: auto;
}
.input-group-addon,
.input-group-btn,
.input-group .form-control {
display: table-cell;
}
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
border-radius: 0;
}
.input-group-addon,
.input-group-btn {
width: 1%;
white-space: nowrap;
vertical-align: middle;
}
.input-group-addon {
padding: 6px 12px;
font-size: 14px;
font-weight: normal;
line-height: 1;
color: #555555;
text-align: center;
background-color: #eeeeee;
border: 1px solid #cccccc;
border-radius: 4px;
}
.input-group-addon.input-sm {
padding: 5px 10px;
font-size: 12px;
border-radius: 3px;
}
.input-group-addon.input-lg {
padding: 10px 16px;
font-size: 18px;
border-radius: 6px;
}
.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
margin-top: 0;
}
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
border-bottom-right-radius: 0;
border-top-right-radius: 0;
}
.input-group-addon:first-child {
border-right: 0;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
border-bottom-left-radius: 0;
border-top-left-radius: 0;
}
.input-group-addon:last-child {
border-left: 0;
}
.input-group-btn {
position: relative;
font-size: 0;
white-space: nowrap;
}
.input-group-btn > .btn {
position: relative;
}
.input-group-btn > .btn + .btn {
margin-left: -1px;
}
.input-group-btn > .btn:hover,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:active {
z-index: 2;
}
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
margin-right: -1px;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
z-index: 2;
margin-left: -1px;
}
.extra-header{
    min-height: 25px;
    width: 100%;
    margin: auto;
    background-color: #2f2f2f;
    padding-top: 6px;
    display: inline-block;
    color: #fff;
}
.main-header{
    color: #333;
    display: inline-block;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    box-shadow: 0 2px 3px -1px rgba(0,0,0,.1);
    height: 41px;
    line-height: 22px;
    min-height: 41px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    position: relative;
    background-color: #fff;
    margin-bottom: 4px;
}
.container{
    width: 970px;
    display: block;
    margin: auto;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
}



/* Start Header Section style sheet */
.extra-header .tw-intro-text{
    text-align: left;
    color: #fff;
    font-size: 8pt;
    vertical-align: middle;
    display: inline-block;
    font-weight: 700;
    padding: 7px 3px 6px 3px;
}
.extra-header .tw-extra-nav{float: right;}
.extra-header .topRetrievedMenu{display: none;
    text-align: left;
    color: #fff;
    font-size: 8pt;
    vertical-align: middle;
    float: right;
    font-weight: 700;
    padding: 3px 5px 2px;}
.extra-header .topRetrievedMenu i{
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 4px;
}
.extra-header .tw-extra-nav .tw-nav{margin: 0px;padding: 0px;}
.extra-header .tw-extra-nav .tw-nav .tw-nav-item{
    text-align: left;
    color: #fff;
    font-size: 8pt;
    vertical-align: middle;
    display: inline-block;
    font-weight: 700;
    padding: 7px 3px 6px 3px;
}
.extra-header .tw-extra-nav .tw-nav .tw-nav-item a{
    color: #fff;
    text-decoration: none;
}


.main-header .tw-logo{
    float: left;
    display: block;
    background: url(/images/logo.svg) no-repeat;
    width: 168px;
    height: 41px;
}
.main-header .tw-main-nav{float: right;background-color: #fff;}
.main-header .mainRetrievedMenu{display: none;}
.main-header .tw-main-nav .tw-nav{margin: 0px;padding: 0px;}
.main-header .tw-main-nav .tw-nav .tw-nav-item{
    border-bottom: 4px solid #fff;
    white-space: nowrap;
    padding: 0;
    float: left;
    display: block;
}
.main-header .tw-main-nav .tw-nav .tw-nav-item.current-menu-item{border-bottom: 4px solid #25c6d0;}
.main-header .tw-main-nav .tw-nav .tw-nav-item a{
    display: block;
    font-size: 12px;
    font-weight: 500;
    height: 37px;
    line-height: 37px;
    text-decoration: none;
    zoom: 1;
    position: relative;
    text-align: center;
    text-shadow: #fff 0 1px 1px;
    color: #2f2f2f;
    white-space: nowrap;
    padding: 0 10px;
    font-weight: 700;
}
.main-header .tw-main-nav .tw-nav .tw-nav-item a.removezaren{
    background: url(/images/remove_ads_button_en.png) no-repeat center center;
    height: 37px;
    width: 105px;
}

.top-ads{float: right;display:block !important;width: 780px;height: 90px;margin-bottom: 10px;}

.sf_content{width:100%;display:block;margin:auto;float:left;background-size:100% 100%;background-color:#f2f2f2;margin-bottom:60px;}
.sf_content .pageHeader{border-bottom: 1px solid #dcdcdc;font-weight: bold;line-height: 32px;margin-bottom: 15px;}
.sf_content .my_content{width:970px;display:block;margin:auto;margin-top: 10px;}
.sf_content .my_content .left_bar{float:left;width:160px;display:block;}
.sf_content .my_content .left_bar .left_ads{float:left;width:160px;margin-right:10px;min-height:250px;display:block !important;margin-bottom:10px;}
.sf_content .my_content .left_bar .remove-zars{float:left;display:block !important;width:160px;height:90px;margin-right:10px;margin-bottom:10px;}
.sf_content .my_content .left_bar .remove-zars .remove-zarsmn{background: url(/Reclam/upgrade_mn.png) no-repeat;height:90px;width:160px;display:block;}
.sf_content .my_content .left_bar .remove-zars .remove-zarsen{background: url(/Reclam/upgrade_en.png) no-repeat;height:90px;width:160px;display:block;}
.sf_content .my_content .content{float:right;width:630px;min-height:250px;display:block;}
.sf_content .my_content .right_ads{float:right;width:160px;min-height:250px;display:block;margin-left:10px;}
.sf_content .my_content .content .login_warring{background-image: url("images/bg-lighting.png");background-position: 0px 0px;background-repeat: repeat-y;animation: animatedBackground 1s linear infinite;-ms-animation: animatedBackground 1s linear infinite;-moz-animation: animatedBackground 1s linear infinite;-webkit-animation: animatedBackground 1s linear infinite;border:1px solid #25c6d0;padding:8px 35px 8px 14px;margin-bottom:10px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-tap-highlight-color:rgba(255, 255, 255, 0)!important;text-shadow:none;color:#FFFFFF;font-weight:bold;}
.sf_content .my_content .content .login_warring .close{outline:none;float:right;font-size:20px;font-weight:bold;position:relative;top:0;right:-26px;color:#fff;line-height:14px;text-shadow:none;opacity:0.7;filter:alpha(opacity=60);padding:0 5px;cursor:pointer;text-decoration:none;}
.sf_content .my_content .content .login_warring .close:hover{opacity:1;filter:alpha(opacity=100);}
.sf_content .my_content .content .widget_accordion{display:block;margin-bottom:25px;}
.sf_content .my_content .content .widget_accordion ul{list-style:none;padding:0;margin:0;}
.sf_content .my_content .content .widget_accordion ul li{list-style:none;-webkit-backface-visibility:hidden;box-shadow:0 0 0 0 #fff inset;position:relative;border:0;margin-bottom:10px;padding:0;}
.sf_content .my_content .content .widget_accordion ul li article{background-color:#F7F7F7;}
.sf_content .my_content .content .widget_accordion ul li article .button{left:5px;position:absolute;float:left;width:13px;height:21px;cursor:pointer;display:block;}
.sf_content .my_content .content .widget_accordion ul li article .button.active span{background-position:0 0;}
.sf_content .my_content .content .widget_accordion ul li article .button span{height:21px;position:absolute;line-height:24px;font-weight:100;width:25px;margin-top:9px;font-size:0;background-image:url(images/sprite.png);background-repeat:no-repeat;background-position:0 -26px;}
.sf_content .my_content .content .widget_accordion ul li article header{padding-left: 30px;background:#ededed;border:1px solid rgb(226,226,226);padding-top: 5px;display: block;}
.sf_content .my_content .content .widget_accordion ul li article header h2,
.sf_content .my_content .content .widget_accordion ul li article header .lang-course{text-transform: none;color:#646464;display:block;font-size:14px;line-height:21px;margin-bottom:6px;font-weight:bold;cursor:pointer;text-decoration:none;text-align:left;margin-top:0px;}
.sf_content .my_content .content .widget_accordion ul li article header h2 .start-link,
.sf_content .my_content .content .widget_accordion ul li article header .lang-course .start-link{float:right;margin-right:15px;text-decoration:none;color:#646464;text-align:right;}
.sf_content .my_content .content .widget_accordion ul li article header h2 .course-status, .sf_content .my_content .content .container .widget_accordion ul li article header .lang-course .course-status{float:right;color:#fd355a;padding-right:10px;}
.sf_content .my_content .content .widget_accordion ul li article .item-container{padding:10px 0;border:1px solid #ddd;border-top:none;}
.sf_content .my_content .content .widget_accordion ul li article .item-container ul{padding:0;margin:0;list-style-type:none;}
.sf_content .my_content .content .widget_accordion ul li article .item-container ul li{border-bottom:1px dotted #25c6d0;line-height:27px;margin-bottom:0;text-align:left;}
.sf_content .my_content .content .widget_accordion ul li article .item-container ul li:last-child{border-bottom:none;}
.sf_content .my_content .content .widget_accordion ul li article .item-container ul li a{background:url(images/lessonoff.gif) no-repeat scroll 10px 50%;padding-left:30px;line-height:27px;color:#999;text-decoration:none;display:block;}
.sf_content .my_content .content .widget_accordion ul li article .item-container ul li a.clr_status{text-decoration: underline;color: #E15D55;position: absolute;right: 60px;top: 0px;padding-left: 0px;background: none;}
.sf_content .my_content .content .widget_accordion ul li article .item-container ul li a .start-btn{float:right;margin-right:15px;text-align:right;}
.sf_content .my_content .content .widget_accordion ul li article .item-container ul li a .lesson-status{font-weight:normal;padding-right:10px;font-size:7.5pt;font-style:normal;color:#fd355a;float:right;}
.sf_content .my_content .content .widget_accordion ul li article .item-container ul li.active a{background-image:url(images/lesson-on.gif);font-weight:bold;color:#25c6d0;background-color:rgba(37, 198, 208,0.2)}
.sf_content .my_content .content .widget_accordion ul li article .item-container ul li.passed a{color:#333;}
.sf_content .my_content .content .widget_accordion ul li article .item-container ul li.active a .start-btn{font-size:15px;}
.sf_content .my_content .content .widget_accordion ul li article .item-container ul li:hover a{color:#333;}
.sf_content .my_content .content .widget_accordion ul li article .item-container ul li:hover a.clr_status{color: #E15D55;text-decoration: none;}
.sf_content .my_content .content .widget_accordion ul li article .item-container ul li:hover a .start-btn{color:#333;}

.sf_content .my_content .content-mid{width:780px;min-height:250px;display:block;float:right;}
.sf_content .my_content .content-mid .login_warring{background-image: url("images/bg-lighting.png");
background-position: 0px 0px;
background-repeat: repeat-y;
animation: animatedBackground 1s linear infinite;
-ms-animation: animatedBackground 1s linear infinite;
-moz-animation: animatedBackground 1s linear infinite;
-webkit-animation: animatedBackground 1s linear infinite;border:1px solid #25c6d0;padding:8px 35px 8px 14px;margin-bottom:10px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-tap-highlight-color:rgba(255, 255, 255, 0)!important;text-shadow:none;color:#FFFFFF;font-weight:bold;}
.sf_content .my_content .content-mid .login_warring .close{outline:none;float:right;font-size:20px;font-weight:bold;position:relative;top:0;right:-26px;color:#fff;line-height:14px;text-shadow:none;opacity:0.7;filter:alpha(opacity=60);padding:0 5px;cursor:pointer;text-decoration:none;}
.sf_content .my_content .content-mid .login_warring .close:hover{opacity:1;filter:alpha(opacity=100);}

.reg-box{background-color:#25C6D0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;display:block;width:160px;text-decoration:none;margin-bottom:10px;clear:both;float:left;}
.reg-box .head-box{color:#fff;font-weight:bold;text-decoration:none;text-align:center;font-size:15px;padding-bottom:10px;border-bottom:1px dotted #fff;padding-left:15px;padding-right:15px;margin-top: 10px;margin-bottom: 0px;}
.reg-box .body-box{color:#fff;font-weight:bold;text-decoration:none;padding:15px;border-bottom:1px dotted #fff;}
.reg-box .food-box{color:#fff;font-weight:bold;text-decoration:none;text-align:center;padding:15px;}

.level-box{border:1px solid #ccc;padding:15px;margin-bottom:10px;background-color:#F7F7F7;display:block;clear:both;float:left;}
.level-box h3{font-weight:bold;text-decoration:none;text-align:center;font-size:14px;color:#25C6D0;margin-bottom:5px;margin-top:5px;}
.level-box .levelup_b{background: url(/css/images/evolve_unknown.png) no-repeat;padding-top: 74px;}
.level-box .levelup_b img{}
.level-box .levelup_b p{text-align:center;color:#646464;font-size:10px;}

.fame-box{border:1px solid #ccc;padding:15px;margin-bottom:10px;float:left;display:block;width:128px;background-color:#F7F7F7;}
.fame-box h3{font-weight:bold;text-decoration:none;text-align:center;font-size:14px;color:#25C6D0;margin-bottom:5px;margin-top:5px;clear:both;}
.fame-box img{float:left;display:block;}
.fame-box .topuser{font-size:10px;color:#646464;}
.fame-box .topspeed{font-size:10px;color:#646464;}
.fame-box .topprec{font-size:10px;color:#646464;}
.fame-box .fame-link{font-size:9px;color:#646464;}

/********************
*  start fame      *
********************/
.fame-table{width:100%;border:1px solid #aaa;padding-bottom:10px;display:block;background:white;}
.fame-table tr{}
.fame-table tr:first-child td{background:#EDEDED;border:1px solid #E2E2E2;font-weight:bold;height:20px;}
.fame-table tr td.first_col{padding-left: 15px !important;width: 300px;}
.fame-table tr td{border-right:1px solid #e2e2e2;border-bottom:1px solid #9dedf2;background:white;height:24px;font:12px Arial;color:#4a4947;width:158px;}
/********************
*    end fame      *
********************/


/********************
*  start game      *
********************/
div.game {width: 145px;height: auto;margin-right: 10px;float: left;}
.g-last {margin-right: 0 !important;}
div.game a:link, div.game a:visited, div.game a:hover, div.game a:active {font: bold 10pt Arial;color: #4a4947;text-decoration: none;}
div.game p{padding: 4px;font: 8pt Arial;color: #4a4947;}
div.clearinghouse{clear: both;width: auto;height: auto;border-bottom: 1px solid #d9d9d9;padding-top: 15px;margin-bottom: 10px;}
/*  Play games section */
div#gameinfo{width: 128px;height: 402px;padding: 10px;background-color: #fff;float: left;border: 1px solid #d9d8d8;margin-right: 10px;}
div#gamebox{width: 600px;height: auto;float: left;}
div#gameinfo h2 {font: bold 11pt Arial;color: #10cfcf;}
div#gameinfo p, div#gameinfo td {font: 8pt Arial;color: #666666;margin: 5px 0 10px;}
div.content {}
.back-to-games {font-family: Helvetica, Arial, serif;font-weight: bold;color: #10CFCF;font-size: 14px;display: block;margin-bottom: 5px;}
#ad-content {text-align: center;}
/********************
 *    end game      *
 ********************/

 /********************
 *    start upgrade *
 ********************/
.sf_content .my_content .upgrade_content{float:right;width:780px;display:block;margin-top:10px;background:url(images/upgrade_bg.jpg) scroll no-repeat 0 0 #f6f7f9;}
.sf_content .my_content .upgrade_content .upgrade_head{float:left;display:inline-block;clear:both;width:100%;margin-left:20px;margin-top:20px;}
.sf_content .my_content .upgrade_content .upgrade_head .upgrade_info{width:350px;display:block;float:left;}
.sf_content .my_content .upgrade_content .upgrade_head .upgrade_info h1{height:95px;margin-bottom:15px;padding-top:10px;padding-left:120px;color:#25C6D0;font-size:50px;line-height:45px;background:url(images/upgrade_logo.png) no-repeat 0 0;}
.sf_content .my_content .upgrade_content .upgrade_head .upgrade_info h2{font-size:18px;color:#4A4947;margin-bottom:10px;}
.sf_content .my_content .upgrade_content .upgrade_head .upgrade_info p{}
.sf_content .my_content .upgrade_content .upgrade_body{width:750px;display:block;float:left;margin-left:20px;margin-right:10px;}
.sf_content .my_content .upgrade_content .upgrade_body .titlewithline{font-size: 22px;color:#25C6D0;margin-top: 30px;margin-bottom: 20px;background: url(images/upgrade_divider.png) repeat-x 0 center;float:left;width:100%;}
.sf_content .my_content .upgrade_content .upgrade_body .titlewithline span{display:inline-block;background:#f6f7f9;padding-right:15px;color: #25C6D0;font-size: 22px;}
.sf_content .my_content .upgrade_content .upgrade_body .whatis{font-size: 15px;font-weight: bold;color: #6C6C6C;margin-bottom: 5px;}
.sf_content .my_content .login_layout{width:560px;margin:100px auto 0;}
.sf_content .my_content .login_layout .login_panel{-webkit-box-shadow:0 2px 2px rgba(50, 50, 50, 0.75);-moz-box-shadow:0 2px 2px rgba(50, 50, 50, 0.75);box-shadow:0 2px 2px rgba(50, 50, 50, 0.75);-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;float:left;display:block;background:#F7F7F7;border:1px solid #DADADA;padding:20px;}
.upgradeTable{width: 650px;float: left;padding-top: 10px;}
.upgradeTable .titlewithline{font-size: 22px;color:#25C6D0;margin-top: 30px;margin-bottom: 20px;background: url(images/upgrade_divider.png) repeat-x 0 center;float:left;width:100%;}
.upgradeTable .titlewithline span{display:inline-block;background:#f6f7f9;padding-right:15px;color: #25C6D0;font-size: 22px;}
.upgradeTable .upgradeStudentsList {margin-top: 10px;border-left: 1px solid #e0e0e0;border-right: 1px solid #e0e0e0;}
.upgradeTable .upgradeStudentsList thead th {background: rgba(125,125,125,1);background: -moz-linear-gradient(top, rgba(125,125,125,1) 0%, rgba(103,103,103,1) 100%);background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(125,125,125,1)), color-stop(100%, rgba(103,103,103,1)));background: -webkit-linear-gradient(top, rgba(125,125,125,1) 0%, rgba(103,103,103,1) 100%);background: -o-linear-gradient(top, rgba(125,125,125,1) 0%, rgba(103,103,103,1) 100%);background: -ms-linear-gradient(top, rgba(125,125,125,1) 0%, rgba(103,103,103,1) 100%);background: linear-gradient(to bottom, rgba(125,125,125,1) 0%, rgba(103,103,103,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7d7d', endColorstr='#676767', GradientType=0 );height: 29px;color: #fff;font-weight: bold;font-size: 12px;text-align: left;}
.upgradeTable .upgradeStudentsList .checkRow {width: 60px;text-align: center;vertical-align: middle;}
.upgradeTable .upgradeStudentsList tbody th, .upgradeStudentsList tbody td {border-bottom: 1px solid #e0e0e0;font-family: Helvetica, Arial;color: #444444;font-size: 12px;vertical-align: middle;text-align: left;}
.upgradeTable .upgradeStudentsList .classRow th {height: 29px;background: rgba(238,238,237,1);background: -moz-linear-gradient(top, rgba(238,238,237,1) 0%, rgba(211,211,208,1) 100%);background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(238,238,237,1)), color-stop(100%, rgba(211,211,208,1)));background: -webkit-linear-gradient(top, rgba(238,238,237,1) 0%, rgba(211,211,208,1) 100%);background: -o-linear-gradient(top, rgba(238,238,237,1) 0%, rgba(211,211,208,1) 100%);background: -ms-linear-gradient(top, rgba(238,238,237,1) 0%, rgba(211,211,208,1) 100%);background: linear-gradient(to bottom, rgba(238,238,237,1) 0%, rgba(211,211,208,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeed', endColorstr='#d3d3d0', GradientType=0 );cursor: pointer;font-weight: bold;}
.upgradeTable .classRow .expander {display: inline-block;width: 12px;height: 12px;font-size: 12px;margin-right: 8px;text-decoration: none;background: url('/images/expander.png') no-repeat 0 0;}
.upgradeTable .classRow .expander.open {background-position: 0px -12px;}
.upgradeTable .upgradeStudentsList tbody td {height: 29px;}
.upgradeTable .upgradeStudentsList tbody tr {background: #ffffff;}
.upgradeTable .upgradeStudentsList tbody .selected, .upgradeStudentsList tbody tr:hover {background: #eafeff;}

.upgradeTableRight{width: 300px;float: left;padding-top: 50px;}
.upgradeTableRight .upgradeTotalBox {width: 250px;margin: 0px auto;border: 1px solid #25C6D0;background: #fff;}
.upgradeTableRight .upgradeTotalBox .totalHeader {font-size: 17px;font-weight: bold;color: #fff;padding-top: 8px;padding-bottom: 6px;background: #25C6D0;text-align: center;line-height: 17px;}
.upgradeTableRight .upgradeTotalBox .totalPrice {font-weight: bold;font-size: 34px;color: #25C6D0;margin-top: 10px;margin-bottom: 10px;text-align: center;}
.upgradeTableRight .upgradeTotalBox .pricePerStudent {font-size: 13px;text-align: center;margin-bottom: 7px;}
.upgradeTableRight .supportBox{margin: 20px auto;width: 250px;}

/********************
 *    end upgrade   *
 ********************/

 /**************************
 * Price table
 **************************/

.dm3-pricing {padding:0;margin:30px 0 20px 0;}
.dm3-pricing:after {display:table;content:'';clear:both;}
.dm3-pricing-column {margin-right:-1px;float:left;position:relative;word-wrap:break-word;}
.dm3-pricing-2 .dm3-pricing-column {width:50.03%;}
.dm3-pricing-3 .dm3-pricing-column {width: 33.39%;}
.dm3-pricing-4 .dm3-pricing-column {width: 25.07%;}
.dm3-pricing-5 .dm3-pricing-column {width: 20.08%;}

/* Header */
.dm3-pricing-header {padding:15px 10px;border:1px solid #ddd;text-align: center;}
body .dm3-pricing-header h2 {margin:0;font-size:20px;line-height:24px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;}

/* Price */
.dm3-pricing-price {padding:15px 10px;border:1px solid #ddd;border-top:0;text-align:center;}
.dm3-pricing-price span {font-weight:bold;font-size:24px;line-height:27px;}
.dm3-pricing-price i {color:#999;}

/* Options */
.dm3-pricing-options {border:1px solid #ddd;border-top:0;
}

body .dm3-pricing-options ul {margin:0;padding:0;}
.dm3-pricing-options li {padding:10px;margin:0 !important;list-style:none;text-align:center;}
.dm3-pricing-options li + li {border-top:1px dotted #ddd;}

/* Actions */
.dm3-pricing-actions {padding:15px 10px;border:1px solid #ddd;border-top:0;text-align:center;}
.dm3-pricing-button {display:inline-block;padding:5px 15px;color:#fff;background-color:#999;text-decoration:none;}
.dm3-pricing-button:hover {color: #fff;}

/* Featured */
.dm3-pricing-featured {margin-top:-19px;z-index:2;box-shadow:0 0 0 4px #f0f0f0;}
.dm3-pricing-featured .dm3-pricing-header {padding:25px 10px;}
.dm3-pricing-featured .dm3-pricing-header h2 {font-size:26px;line-height:30px;}
.dm3-pricing-featured .dm3-pricing-price {padding:20px 10px;}
.dm3-pricing-featured .dm3-pricing-button {background-color:#333;}

@media screen and (max-width: 767px) {
    .dm3-pricing-column {width: auto !important;float:none;}
    .dm3-pricing-column + .dm3-pricing-column {margin-top:20px;}
    .dm3-pricing-featured {margin-top:0;}
    .dm3-pricing-featured .dm3-pricing-actions {padding:20px 10px;}
}


/**************************
 * Buttons
 **************************/
/* DEFAULT */
.dm3-btn {display:inline-block;padding:8px 16px;background-color:#ddd;background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ddd));background-image:-moz-linear-gradient(top, #eee 0%, #ddd 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#DDDDDD',GradientType=0);border:1px solid #c0c0c0;border-top: #c5c5c5;vertical-align:middle;cursor:pointer;color:#555;line-height:16px;font-family:Arial, Helvetica, sans-serif;font-size:14px;font-weight:bold;text-decoration:none;text-shadow:0 1px 0 #f9f9f9;box-shadow:0 1px 0 0 #f9f9f9 inset, 0 1px 5px #ddd;-webkit-transition:box-shadow 0.1s;}
p .dm3-btn {margin-bottom:5px;}
.dm3-btn:active {border:1px solid #c0c0c0;box-shadow:0 2px 8px 0 #c0c0c0 inset, 0 1px 0 0 #eee;}
.dm3-btn:hover {color:#555;}
.dm3-btn::-moz-focus-inner {padding:0;border:0}
button.dm3-btn {margin:0;}
.dm3-btn-small {padding:4px 10px;font-size:12px;}
.dm3-btn-large {padding:12px 24px;line-height:20px;font-size:18px;}

/* BLUE */
.dm3-btn-blue {background-color:#4381DE;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #71AAFF), color-stop(100%, #4381DE));background-image:-moz-linear-gradient(top, #71AAFF 0%, #4381DE 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71AAFF', endColorstr='#4381DE',GradientType=0);border:1px solid #3465AD;border-top: #3E78CF;color: #fff;text-shadow: 0 -1px 1px #305DA1;box-shadow: inset 0 1px 0 0 #B0CFFF, 0 1px 5px #ddd;}
.dm3-btn-blue:active {border: 1px solid #3465AD;box-shadow: inset 0 0 8px 2px #4381DE, 0 1px 0 0 #eee;}
.dm3-btn-blue:hover {color: #fff;}

/* RED */
.dm3-btn.dm3-btn-red {
    background-color: #CF332A;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FA685F), color-stop(100%, #CF332A));
    background-image: -moz-linear-gradient(top, #FA685F 0%, #CF332A 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FA685F', endColorstr='#CF332A',GradientType=0);
    border: 1px solid #AB2A23;
    border-top: #CF332A;
    color: #fff;
    text-shadow: 0 -1px 1px #85201B;
    box-shadow: inset 0 1px 0 0 #F2ADA8, 0 1px 5px #ddd;
}

.dm3-btn-red:active {
    border: 1px solid #9E2720;
    box-shadow: inset 0 0 8px 2px #CF332A, 0 1px 0 0 #eee;
}

.dm3-btn-red:hover {
    color: #fff;
}


/* GREEN */
.dm3-btn-green {
    background-color: #8dc90e;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bcec58), to(#8dc90e));
    background-image: -moz-linear-gradient(top, #bcec58 0%, #8dc90e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcec58', endColorstr='#8dc90e',GradientType=0);
    border: 1px solid #7fb60b;
    border-top: #8cc80d;
    color: #fff;
    text-shadow: 0 -1px 0 #7aae0c;
    box-shadow: 0 1px 0 0 #d4ff79 inset, 0 1px 5px #ddd;
}

.dm3-btn-green:active {
    border: 1px solid #7fb60b;
    box-shadow: 0 2px 8px 0 #8dc90e inset, 0 1px 0 0 #eee;
}

.dm3-btn-green:hover {
    color: #fff;
}


/* GOLD */
.dm3-btn-gold {
    background-color: #ffb501;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffdf30), to(#ffb501));
    background-image: -moz-linear-gradient(top, #ffdf30 0%, #ffb501 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdf30', endColorstr='#ffb501',GradientType=0);
    border: 1px solid #d2b700;
    border-top: #e4c600;
    color: #fff;
    text-shadow: 0 -1px 0 #d1b601;
    box-shadow: 0 1px 0 0 #fff7cd inset, 0 1px 5px #ddd;
}

.dm3-btn-gold:active {
    border: 1px solid #d2b700;
    box-shadow: 0 2px 8px 0 #ffb501 inset, 0 1px 0 0 #eee;
}

.dm3-btn-gold:hover {
    color: #fff;
}


/* ORANGE */

.dm3-btn-orange {
    background-color: #e46e05;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffb68a), to(#e46e05));
    background-image: -moz-linear-gradient(top, #ffb68a 0%, #e46e05 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb68a', endColorstr='#e46e05',GradientType=0);
    border: 1px solid #e46e05;
    border-top: #ff8e32;
    color: #fff;
    text-shadow: 0 -1px 0 #e46e05;
    box-shadow: 0 1px 0 0 #ffd5ba inset, 0 1px 5px #ddd;
}

.dm3-btn-orange:active {
    border: 1px solid #e46e05;
    box-shadow: 0 2px 8px 0 #e46e05 inset, 0 1px 0 0 #eee;
}

.dm3-btn-orange:hover {
    color: #fff;
}


/* LIGHT BLUE */
.dm3-btn-light-blue {
    background-color: #0ccdf0;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4defff), to(#0ccdf0));
    background-image: -moz-linear-gradient(top, #4defff 0%, #0ccdf0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4defff', endColorstr='#0ccdf0',GradientType=0);
    border: 1px solid #0cb5d4;
    border-top: #1bd5f4;
    color: #fff;
    text-shadow: 0 -1px 0 #11a4bf;
    box-shadow: 0 1px 0 0 #dafbff inset, 0 1px 5px #ddd;
}

.dm3-btn-light-blue:active {
    border: 1px solid #0cb5d4;
    box-shadow: 0 2px 8px 0 #0cb5d4 inset, 0 1px 0 0 #eee;
}

.dm3-btn-light-blue:hover {
    color: #fff;
}

/* LightSeaGreen */
.dm3-btn-LightSeaGreen {
    background-color: #25C6D0;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#50d1d9), to(#25C6D0));
    background-image: -moz-linear-gradient(top, #50d1d9 0%, #25C6D0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50d1d9', endColorstr='#25C6D0',GradientType=0);
    border: 1px solid #21b2bb;
    color: #fff;
    text-shadow: 0 -1px 0 #25C6D0;
    box-shadow: 0 1px 0 0 #fcd0ff inset, 0 1px 5px #ddd;
}

.dm3-btn-LightSeaGreen:active {
    border: 1px solid #d16bd2;
    box-shadow: 0 2px 8px 0 #d16bd2 inset, 0 1px 0 0 #eee;
}

.dm3-btn-LightSeaGreen:hover {
    color: #fff;
}


/* PURPLE */
.dm3-btn-purple {
    background-color: #d16bd2;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f7a4ff), to(#d16bd2));
    background-image: -moz-linear-gradient(top, #f7a4ff 0%, #d16bd2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7a4ff', endColorstr='#d16bd2',GradientType=0);
    border: 1px solid #d16bd2;
    border-top: #ea7deb;
    color: #fff;
    text-shadow: 0 -1px 0 #d16bd2;
    box-shadow: 0 1px 0 0 #fcd0ff inset, 0 1px 5px #ddd;
}

.dm3-btn-purple:active {
    border: 1px solid #d16bd2;
    box-shadow: 0 2px 8px 0 #d16bd2 inset, 0 1px 0 0 #eee;
}

.dm3-btn-purple:hover {
    color: #fff;
}

@media only screen and (max-width: 600px){
    .container{width: 100%;}
    .extra-header .topRetrievedMenu{display: block;}
    .main-header .mainRetrievedMenu{display: block;}
}
/* Ends Header Section style sheet */