{% extends 'entertaiment.html.twig' %}

{% block body_id 'entertaiment_default' %}

{% block body %}
<h1>Teach Students Touch Typing</h1>

<p>Bicheech's proven typing curriculum, combined with the ability to manage, grade, and report on your students.</p>
<ul>
<li>Absolutely, 100%, <strong>FREE</strong></li>
<li><strong>Grade and track</strong> progess and improvement.</li>
<li>Create <strong>& manage your student</strong> roster.</li>
<li>Bicheech's full, angaging typing curriculum.</li>
<li>Save your school tons of money!</li>
<li>Perfect for <strong>schools, companies, & parents</strong></li>
</ul>

<a href="#">Teacher Log In >></a>

<h3>Used by teachers worldwide</h3>

{% endblock %}